@page
@model IndexModel
@{
    ViewData["Title"] = "Certificate Manager";
}

<div class="text-center">
    <h1>Welcome to the Web Interface of the certificate manager.</h1>
    <p>Under Certificates, you can filter, change owner information and revoke certificates</p>
    <p>Under Requests, you can see pending requests and approve or deny them</p>
    <p>Under New Requests, you can create or upload requests</p>
</div>
