@page "/requests/approve"

@using CertificateManager.Services
@using CertificateManager.Models
@inject CertificateService certificateService;

<PageTitle>Approve certificate request</PageTitle>

<h3>Approve certificate request</h3>