@page "/requests/deny"

@using CertificateManager.Services
@using CertificateManager.Models
@inject CertificateService certificateService;

<PageTitle>Deny certificate request</PageTitle>

<h3>Deny certificate request</h3>