@page
@model WebGUICertManager.Pages.Certificate.RevokeModel
@{
    ViewData["Title"] = "Revoke certificate";
}

<h1>Revoke certificate</h1>
<hr />

<div class="row">
    <div class="col-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Entries.RequestId" />
            <input type="hidden" asp-for="Entries.CAConfig" />
            <input type="hidden" asp-for="Entries.Base64Certificate" />
            <input type="hidden" asp-for="Entries.Base64Request" />
            <input type="hidden" asp-for="Entries.SerialNumber" />
            <input type="hidden" asp-for="Entries.RequestDisposition" />
            <input type="hidden" asp-for="Entries.RequesterName" />
            <input type="hidden" asp-for="Entries.RequestType" />
            <input type="hidden" asp-for="Entries.RequestAttributes" />
            <input type="hidden" asp-for="Entries.IssuedEmailAddress" />
            <input type="hidden" asp-for="Entries.IssuedCommonName" />
            <input type="hidden" asp-for="Entries.IssuedCountryRegion" />
            <input type="hidden" asp-for="Entries.IssuedOrganization" />
            <input type="hidden" asp-for="Entries.IssuedOrganizationUnit" />
            <input type="hidden" asp-for="Entries.CallerName" />
            <input type="hidden" asp-for="Entries.CertificateHash" />
            <input type="hidden" asp-for="Entries.CertificateTemplate" />
            <input type="hidden" asp-for="Entries.CertificateEffectiveDate" />
            <input type="hidden" asp-for="Entries.CertificateExpirationDate" />
            <input type="hidden" asp-for="Entries.PublicKeyLength" />
            <input type="hidden" asp-for="Entries.PublicKeyAlgorithm" />
            <input type="hidden" asp-for="Entries.RequestCountryRegion" />
            <input type="hidden" asp-for="Entries.RequestOrganization" />
            <input type="hidden" asp-for="Entries.RequestOrganizationUnit" />
            <input type="hidden" asp-for="Entries.RequestCommonName" />
            <input type="hidden" asp-for="Entries.RequestCity" />
            <input type="hidden" asp-for="Entries.RequestTitle" />
            <input type="hidden" asp-for="Entries.RequestEmailAddress" />
            <input type="hidden" asp-for="Entries.TemplateEnrollmentFlags" />
            <input type="hidden" asp-for="Entries.TemplateGeneralFlags" />
            <input type="hidden" asp-for="Entries.TemplatePrivateKeyFlags" />
            <input type="hidden" asp-for="Entries.PublicKeyAlgorithmParameters" />
            <input type="hidden" asp-for="Entries.RevocationDate" />
            <input type="hidden" asp-for="Entries.RevocationReason" />

            <div class="form-group">
                <label asp-for="Entries.CAConfig" class="control-label"></label>
                <input asp-for="Entries.CAConfig" class="form-control" readonly />
                <span asp-validation-for="Entries.CAConfig" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entries.SerialNumber" class="control-label"></label>
                <input asp-for="Entries.SerialNumber" class="form-control" readonly/>
                <span asp-validation-for="Entries.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entries.IssuedCommonName" class="control-label"></label>
                <input asp-for="Entries.IssuedCommonName" class="form-control" readonly />
                <span asp-validation-for="Entries.IssuedCommonName" class="text-danger"></span>
            </div>
            
            Revocation reason:
            <select id="RevocationOption" asp-for="@Model.RevocationOption" asp-items="Model.RevocationOptions" value="@Model.CurrentRevocation" class="form-control" size="4">Select</select>
            <input type="text" id="SelectedOptionText" class="form-control" placeholder="" hidden/>
            <input type="text" id="SelectedRevokeOption" class="form-control" placeholder="" hidden />
            <div class="form-group mt-2">
                <a asp-page="./Index" class="btn btn-danger">Back</a>
                <a asp-page="./Revoke"
                    id="RevokeBtn"
                    asp-route-caconfig="@Model.currentcaconfig"
                    asp-route-serialnumber="@Model.currentserialnumber"
                   class="btn btn-primary" />Revoke certificate</a>
                       
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        // When dropdown changes, copy selected text to textbox
        document.getElementById("SelectedOptionText").value = RevokeBtn.href
        document.getElementById("RevocationOption").addEventListener("change", function () {
            const dropdown = this;
            const selectedValue = Array.from(dropdown.selectedOptions).map(option => option.value);

            var ExportBtn = document.getElementById("RevokeBtn")

            document.getElementById("SelectedRevokeOption").value = "Reason=" + selectedValue
            ExportBtn.href = document.getElementById("SelectedOptionText").value + "&Reason=" + selectedValue
            
        });
    </script>
}