@page "/requests/list"

@using CertificateManager.Services
@using CertificateManager.Models
@inject CertificateService certificateService;

<PageTitle>List certificate requests</PageTitle>

<h3>List certificate request</h3>