@page "/views/expiring60days"

@using CertificateManager.Services
@using CertificateManager.Models
@inject CertificateService certificateService;

<PageTitle>List certificates that will expire in the next 60 days</PageTitle>

<h3>List certificates that will expire in the next 60 days</h3>