@page "/certificates/revoke"

@using CertificateManager.Services
@using CertificateManager.Models
@inject CertificateService certificateService;

<PageTitle>Revoke certificate</PageTitle>

<h3>Revoke certificate</h3>