@page "/views/wildcard"

@using CertificateManager.Services
@using CertificateManager.Models
@inject CertificateService certificateService;

<PageTitle>List certificates that have wildcard in subject or subjectalternativenames</PageTitle>

<h3>List certificates that have wildcard in subject or subjectalternativenames</h3>