@page
@model Certificate_Management.Pages.Certificates.FilterModel
@{
}

<br>
<h2>Filter Certificates</h2>

<form method="POST">
    <div class="row mb-3">
        <label class="row-sm-3 col-form-label">CAConfig</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="CAConfig" value="@Model.filterinfo.CAConfig">
        </div>
    </div>
    <div class="row mb-3">
        <label class="row-sm-3 col-form-label">Subject</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Subject" value="@Model.filterinfo.RequestCommonName">
        </div>
    </div>
    <div class="row mb-3">
        <label class="row-sm-3 col-form-label">RequestID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="RequestID" value="@Model.filterinfo.RequestID">
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid"> 
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>